name: Publish to NPM (with pre-release tag)

on:
    release:
        types: [published]

permissions:
    id-token: write # Required for npm trusted publishing (OIDC)
    contents: read

jobs:
    get-version-number:
        runs-on: ubuntu-latest
        outputs:
            version: ${{ steps.get-version.outputs.version }}
        steps:
            - name: Get release version
              id: get-version
              run: |
                  TAG_NAME="${{ github.event.release.tag_name }}"
                  RELEASE_VERSION="${TAG_NAME#v}"
                  if [ -z "$RELEASE_VERSION" ]; then
                    echo "No release version found."
                    exit 1
                  fi
                  echo "version=$RELEASE_VERSION" >> $GITHUB_OUTPUT
                  echo "Using release version: $RELEASE_VERSION"

    publish:
        needs: get-version-number
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  ref: v${{ needs.get-version-number.outputs.version }}
            - uses: actions/setup-node@v3
              with:
                  node-version: 24.x
                  registry-url: https://registry.npmjs.org/
            - run: git branch # for debugging
            - run: npm ci
            - run: npm publish --tag pre-release
